// ========================================
// social icons
// ========================================

.twitter {
    background: url( create-svg( $twitter-path, $white, $black ) );
}

.facebook {
    background: url( create-svg( $facebook-path, $black, $white ) );
}

.instagram {
    background: url( create-svg( $instagram-path, $white, $black ) );
}

.pinterest {
    background: url( create-svg( $pinterest-path, $black, $white ) );
}

.linkedin {
    background: url( create-svg( $linkedin-path, $black, $white ) );
}