// ========================================
// social icons
// ========================================

.twitter {
    background: url( create-svg( $twitter-path, $white, $black ) );
}

.facebook {
    background: url( create-svg( $facebook-path, $black, $white ) );
}

.instagram {
    background: url( create-svg( $instagram-path, $white, $black ) );
}

.pinterest {
    background: url( create-svg( $pinterest-path, $black, $white ) );
}

.linkedin {
    background: url( create-svg( $linkedin-path, $white, $black ) );
}

.twitter,
.facebook,
.instagram,
.pinterest,
.linkedin {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 10px;
    border-radius: 3px;
    &.large {
        height: 30px;
        width: 30px;
    }
}