a {
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    // font-family: "...";
}

body {
    // color: $black;
    // font-family: "...";
}

// ========================================
// fonts style
// ========================================

.typo-uppercase {
    text-transform: uppercase;
}

// ========================================
// alignment
// ========================================

.typo-left {
    text-align: left;
}

.typo-right {
    text-align: right;
}

.typo-center {
    text-align: center;
}

.typo-justify {
    text-align: justify;
}

// ========================================
// colours
// ========================================

.typo-white {
    color: $white;
}

.typo-black {
    color: $black;
}

// ========================================
// font classes
// ========================================

.f_l {
    font-size: 26px;
    line-height: 32px;
}

.f_m {
    font-size: 18px;
    line-height: 24px;
}

.f_r {
    font-size: 14px;
    line-height: 20px;
}

.f_s {
    font-size: 12px;
    line-height: 18px
}

// ========================================
// SIZES
// ========================================

body {
    @extend .f_m;
}

.h1, h1 {
    @extend .f_l;
}

.h2, h2 {
    @extend .f_m;
}

.h3, h3 {
    @extend .f_r;
}

.h4, h4, .h5, h5, .h6, h6 {
    @extend .f_s;
}

.typo-underline {
    text-decoration: underline;
}